.aboutus{
    height: 250px;
}
.img-bg {
    background-image: url(../imgs/feature-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    border-radius: 0 10px;
}
.aboutus p{
    width: 450px;
}
.aboutus a.btn{
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
/* .play-video {
    background-color: #f28123;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
}
.video-play-btn {
    background-image: url(../imgs/SVG/play_video.svg);
}

.play-video :hover {
    background-color: #000;
    color: #f28123 !important;
    transition: all 0.5s ease-in-out;
} */
