.img-bg {
    background-image: url(../imgs/feature-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px;
    height: 400px;
    width: 500px;
    background-color: hsla(
        0,
        0%,
        0%,
        0.502
    ); /* Dark overlay with 50% opacity */
    background-blend-mode: darken;
}
.aboutus h2 {
    font-size: 3rem;
}
.aboutus p {
    width: 450px;
}
.aboutus a.btn {
    display: inline-block;
    background-color: #f28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
.aboutus a.btn:hover {
    background-color: #333333;
    color: #f28123;
    transition: 0.5s;
}
.play-video {
    background-color: #f28123;
    border-radius: 50%;
    padding: 20px 28px;
    font-size: 28px;
    color: black;
    text-align: center;
}
.video-play-btn {
    height: 350px;
}
.video-play-btn :hover {
    background-color: #333333;
    color: #f28123;
    transition: all 0.5s ease-in-out;
}
.play-icon {
    font-weight: 900;
}

/* Mobile Devices */
@media (max-width: 480px) {
    .aboutus{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        padding: 0 20px;
    }
    .img-bg {
        flex-grow: 1;
        flex-basis: 200px;
        width: 100%;
    }
    .aboutus h2 {
        font-size: 2rem;
        width: 100%;
    }
    .aboutus p {
        width: 100%;
    }
    .aboutus a.btn {
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .aboutus{
        display: flex;
        flex-wrap: wrap;        
        padding-left: 15px;
        padding: 0 10px;
        }
    .img-bg {
        flex-grow: 1;
        flex-basis: 200px;
        width: 100%;
    }
    .aboutus h2 {
        font-size: 2rem;
        width: 100%;
        padding: 0 10px;
    }
    .aboutus p {
        width: 100%;
    }
    .aboutus a.btn {
        width: 100%;
    }
}