thead {
    border-width: 0;
}
.cart-table-head {
    padding: 10px 43px;
    font-weight: 400;
    text-align: center;
}
.cart-table-row {
    text-align: center;
    border: 1px solid #efefef;
    padding: 10px 0;
    color: #051922;
}
.cart-tables {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.number {
    border: 3px solid #efefef;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}
.cart-table-head1 {
    padding: 10px 165px 10px 10px;
    font-weight: 400;
    text-align: center;
}
.cart-table-head2 {
    padding: 10px 45px;
    font-weight: 400;
    text-align: center;
}
.cart-table-row1 {
    border: 1px solid #efefef;
    padding: 15px 0 15px 10px;
}
.cart-table-row2 {
    text-align: center;
    border: 1px solid #efefef;
    padding: 15px 0;
}

.cart-buttons {
    color: #fff;
    background-color: #f28123;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    padding: 8px 25px;
}
.cart-coupon {
    align-items: end;
    padding-top: 10px;
}
.cart-coupon-input {
    margin-right: 15px;
    border: 3px solid #efefef;
    border-radius: 10px;
    padding: 10px 80px 10px 9px;
}
.cart-coupon-form-apply {
    border: solid 2px #f28123;
    background-color: #f28123;
    border-radius: 30px;
    padding: 5px 112px;
    margin-left: 15px;
    margin: 20px 0;
    font-weight: 500;
}
