.contact-us {
    display: flex;
}
.contact-us-head {
    color: #051922;
    font-weight: 700;
    line-height: 3.25rem;
}
.contact-us-form-text {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 10px;
}
.contact-us-form-icon {
    font-size: 20px;
}
.contact-us-card-text {
    padding-left: 34px;
}
.contact-us-card {
    background-color: #fbfbfb;
    padding: 20px;
    width: 500px;
}
.contact-us-form-input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 10px 10px 0;
    width: 45%;
}
.contact-us-message {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    height: 200px;
    width: 91.8%;
    resize: none;
}
.form-input-button {
    border: solid 1px #f28123;
    background-color: #f28123;
    border-radius: 50px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
}
