.from {
    display: flex;
    flex-direction: row;
    margin-right: -50px;
    /* padding-left: 50px; */
}
.contact-us-head {
    padding-top: 60px;
    font-size: 30px;
    padding-right: 0;
    margin-right: 0;
}
.from-text {
    padding-top: 30px;
    width: 932px;
}
.form-input {
    width: 410px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 10px 10px 0;
}
.form-input-message {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    height: 200px;
    width: 75%;
    resize: none;
}
.form-input-button {
    border: solid 7px#F28123;
    background-color: #f28123;
    color: #fff;
    border-radius: 50px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 30px;
}
.form-input-button:hover {
    background-color: black;
    color: #f28123;
    transition: all 0.5s ease-in-out;
    border: solid 7px black;
}
.icon {
    color: #f28123;
}
