header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0 100px 0 0;
}
.header {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* إضافة هذه الخاصية */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: transparent; /* إضافة خلفية شفافة */
    transition: background-color 0.5s ease;
}

.header-icon {
    text-decoration: none;
}
.header.scrolled {
    background-color: #051922;
}
.header-link {
    text-decoration: none;
    font-size: 15px;
}
.sub-links {
    font-size: 13px;
    font-weight: 600;
    padding: 8px;
}
.unvisable-list {
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    transition: all 0.2s ease-in-out;
}
.home-list {
    padding: 20px 40px 20px 15px;
    border-radius: 5px;
    left: 35.7%;
    top: 70px;
}
.page-list {
    border-radius: 5px;
    padding: 20px 99px 24px 10px;
    left: 604.5px;
    top: 70px;
}
.news-list {
    left: 661px;
    padding: 20px 40px 24px 5px;
    border-radius: 5px;
    top: 70px;
}
.shop-list {
    left: 790px;
    padding: 20px 40px 24px 5px;
    border-radius: 5px;
    top: 70px;
}
.main-link-a:hover {
    color: #f28123 !important;
    transition: all 0.5s ease-in-out;
}
.list:hover .unvisable-list {
    visibility: visible;
    color: #000;
}
.icon1 {
    color: #fff;
    padding-right: 30px;
}
.icon1:hover {
    transition: all 0.5s ease-in-out;
    color: #f28123 !important;
}
.icon2 {
    color: #fff;
}
.icon2:hover {
    transition: all 0.5s ease-in-out;
    color: #f28123 !important;
}
.header-icons {
    justify-content: space-between;
    padding-right: 50px;
}

.bg-img {
    background-image: url(../imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #212039c9; /* لون شفاف */
    background-blend-mode: overlay; /* دمج اللون مع الخلفية */
    background-attachment: fixed;
}

.logo {
    width: 145px;
    height: 43px;
}
.hrw0 {
    padding: 223px;
}
.hre {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(221, 64, 7);
    color: #f28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
    text-align: center;
}
.hre1 {
    color: white;
    font-size: 50px;
    text-align: center;
}
.hre2 {
    text-align: center;
    padding-top: 30px;
}
.b {
    border: solid 7px#F28123;
    background-color: #f28123;
    color: #fff;
    border-radius: 50px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 30px;
}
.b:hover {
    background-color: black;
    color: #f28123;
    transition: all 0.5s ease-in-out;
    border: solid 7px black;
}
.c {
    border: solid 2px#F28123;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 30px;
}
.c:hover {
    transition: all 0.5s ease-in-out;
    background-color: #f28123;
}
