.first-circle {
    background-color: #f39f58;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -430px;
    left: 80px;
}
.socend-circle {
    background-color: #f28123;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1px;
}
.perfect-price-text {
    margin: 0;
    padding: 0;
}
.price-text-p {
    font-size: 15px;
}
.price-text-strong {
    font-weight: bolder;
    font-size: 24px;
}
.s-with-m {
    width: 600px;
    height: 400px;
    padding: 0 30px;
}

.time-gap {
    gap: 3px;
    line-height: 1em;
}
.time {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.1em;
}
.time-box {
    border: 2px solid #f28123;
    padding: 12px;
}
.time-unit {
    font-size: 13px;
    line-height: 1em;
}
.Cart-link {
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}
.Cart-link:hover {
    color: #f28123 !important;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
@media (max-width: 480px) {
    .first-circle {
        position: initial;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .first-circle {
        position: initial;
    }
}

@media (max-width: 480px) {
  .Month-Deal {
    margin: -20px 0;
  }
    .first-circle {
        position: initial;
    }

    .s-with-m {
        display: none;
    }

    .Month-Deal h1 {
        font-size: 2.2rem;
        text-align: center;
        margin: 10px 0; 
        font-weight: bold; 
    }

    .Month-Deal p {
        font-size: 1rem;
        text-align: justify;
    }
    
     .first-circle, 
    .socend-circle {
        display: none; 
    }

    .Month-Deal h5 {
        font-size: 1.4rem; 
        font-weight: bold; 
        text-align: center;
    }
    
        .time-gap {
        display: flex;
        justify-content: center; 
        gap: 1px; 
    }

    .time-box {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        font-weight: bold; 
        font-size: 6rem; 
    }

    .time {
        font-size: 6rem; 
        font-weight: bold; 
    }
    
        .Cart-link {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 85%;
        margin: 25px 30px; 
        padding: 10px 5px; 
        font-size: 1rem; 
        text-align: center; 
    }

    .Cart-link i {
        margin-right: 3px; 
    }
    
     .d-flex.flex-column {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .py-3 {
        margin: 0 20px; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .first-circle {
        position: initial;
    }

    .time-gap {
        display: flex;
        justify-content: center;
        gap: 1px; 
    }

    .time-box {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        font-weight: bold; 
        font-size: 6rem; 
    }

    .time {
        font-size: 6rem; 
        font-weight: bold; 
    }

    .s-with-m {
        display: none;
    }
    
      .d-flex.flex-column {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .py-3 {
        margin: 0 5px;
    }

    .Month-Deal h1 {
        font-size:2.5rem;
        text-align: center;
        font-weight: bold;
    }

    .Month-Deal p {
        font-size: 1.2rem;
        text-align: justify;
    }
    
        .first-circle, 
    .socend-circle {
        display: none; 
    }

    .Month-Deal h5 {
        font-size: 1.5rem; 
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
    }
    
        .Cart-link {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        margin: 20px 30px; 
        padding: 12px 16px; 
        font-size: 1.2rem; 
        text-align: center; 
    }

    .Cart-link i {
        margin-right: 3px; 
    }
}
