.mido{
    margin-top: 30px;
}
.abt-bg{
    background-image: url(../imgs/feature-bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 380px;
    border-radius: 0 10px;
}
.mido p{
    line-height: 1.6;
    font-size: 15px;
    padding: 0 50px;
}
.mido h1{
    padding-left: 50px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
}
.mido .btn{
    margin-left: 50px;
    background-color: #f28123;
    border-radius: 50px;
    padding: 10px 20px;
}