.product-h1 {
    padding: 10px;
    margin: 0;
}
.product-img {
    width: 300px;
    height: 300px;
    mix-blend-mode: multiply;
}
product-card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
product-cards {
    padding-top: 40px;
}
product-card:hover {
    box-shadow: none;
}
