.single-news-head {
    font-size: 25px;
    font-weight: 600;
    color: #051922;
}
.single-news {
    display: flex;
    flex-direction: column;
}
.single-news-input {
    width: 362px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 10px 10px 0;
}
.single-news-input-message {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    height: 200px;
    width: 66%;
    resize: none;
}
.single-news-input-button {
    border: solid 1px #f28123;
    background-color: #f28123;
    border-radius: 50px;
    padding: 1px 0px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: -2px;
    margin-right: 857px;
}
