body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.orange-text {
    color: #f28123;
}
.small-line-orange {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 1px;
    background-color: #f28123;
}
.py-100 {
    padding: 100px 0;
}
.bg-white-gray {
    background-color: #f5f5f5;
}
.py-70 {
    padding: 70px 0;
}
.c-black {
    color: black;
}
.my-50 {
    margin: 50px 0;
}
.bg-orange-main {
    background-color: #f28123;
}
.width-30-p {
    width: 30%;
}
.width-20-p {
    width: 20%;
}
.small-line-black-blue {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #051922;
    letter-spacing: 0.5px;
}
.text-bold {
    font-weight: bold;
}
