body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.orange-text {
    color: #f28123 !important;
}
.py-25 {
    padding: 25px 0;
}
.small-line-orange {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 1px;
    background-color: #f28123;
}
.black-blue-c {
    color: #051922 !important;
}
.py-100 {
    padding: 100px 0;
}
.bg-white-gray {
    background-color: #f5f5f5;
}
.py-70 {
    padding: 70px 0;
}
.c-black {
    color: black;
}
.my-50 {
    margin: 50px 0;
}
.bg-orange-main {
    background-color: #f28123;
}
.width-30-p {
    width: 30%;
}
.width-20-p {
    width: 20%;
}
.py-20 {
    padding: 20px 0;
}
.btn-hover:hover {
    color: #f28123 !important;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
.small-line-black-blue {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #051922;
    letter-spacing: 0.5px;
}
.text-bold {
    font-weight: bold;
}
.hover-things:hover {
    color: #f28123 !important;
    transition: all 0.5s ease-in-out;
}
/* Mobile Devices */
@media (max-width: 480px) {
    .media-w-80 {
        width: 80% !important;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .media-w-80 {
        width: 80% !important;
    }
}
